/*Center the divs vertically and horizontally*/
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

.guess {
  font-size: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  margin-top: 50px;
}

.guess > p{
  border-bottom: 4px solid var(--primary-color);
  padding: 0 1.5rem 0.2rem 1.5rem;
  text-align: center;
  margin: 0;
}

.guess > h3{
  border-bottom: 0;
  padding: 0rem;
  font-size: 0.8rem;
  text-align: center;
  opacity: 0.8;
  grid-column: span 4;
  position: relative;
  top: -50%;
}

.fade{
  animation: fade 0.5s ease-in-out forwards infinite;
}

@keyframes fade {
  0% {
    color: black;
  }
  50% {
    color: rgba(0, 0, 0, 0.5);
  }
  100% {
    color: black;
  }
}

.rightNumber{
  color: green;
}

.rightPlace{
  color: #eda70f;
}

.wrongNumber{
  color: red;
}

.winMessage{
  font-size: 2rem;
  margin-top: 2rem;
  background: green;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.winMessage button{
    background: white;
    color: green;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-left: 1rem;
    cursor: pointer;
}

.winMessage button:hover{
    opacity: 0.8;
}

.key{
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-gap: 1rem;
    margin-top: 50px;
    font-size: 0.8rem;
    text-align: center;
}

.markButtons button{
    background: var(--primary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 1rem;
}

.markButtons button:hover{
    opacity: 0.8;
}

/* Add this to your CSS file */
@keyframes confetti-fall {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}

.confetti {
    position: fixed;
    top: 0;
    width: 10px;
    height: 10px;
    animation: confetti-fall linear infinite;
}

.streak {
    display: grid;
    grid-template-columns: 0.3fr 1.7fr;
    background: #ffc04a;
    width: 240px;
    margin: 50px auto;
    height: 60px;
    border-radius: 30px;
    color: white;
    text-align: center;
}

.streak img {
    width: 60px;
    height: 60px;
    aspect-ratio: 1/1;
    display: block;
    margin: 0;
    background: #ff4a4a;
    border-radius: 30px;
}

.streak p{
    margin: auto;
    font-size: 1.5rem;
    font-weight: bold;
}

.timer{
    position: fixed;
    bottom: 0;
    left: 0;
    background: var(--primary-color);
    border-radius: 0 10px 0 0;
    margin: 0;
    padding-left: 2px;
    padding-right: 4px;
}
